.form {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

table {
    margin-top: 20px;
}

.form-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.form-item label {
    margin-left: 50px;
}

.form input {
    width: 450px;
}

input[type="text"], textarea {
    background-color: #e4eaea;
}

button {
    background-color: lightskyblue;
}