.App {
  text-align: center;
  /* margin-bottom: 200px; */
}

.App a {
  /* display: block; */
  margin-left: 5px;
  margin-right: 5px;
}

.customerForm input{
  margin-top: 5px;
  margin-bottom: 5px;
  width: 450px;
}