@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

* {
  background-color: #29282e;
  font-size: 20px;
}

.App h1 {
  font-size: 90px;
  font-family: 'Dancing Script', cursive;
  color: #4088b6;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.App h3 {
  font-size: 30px;
  color: #4088b6;
  text-align: center;
  margin-top: 0;
}

.App, a {
  color: #026fab;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}


